@import url('https://fonts.googleapis.com/css2?family=Sansation&display=swap');

.sansation-regular {
  font-family: "Sansation", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "nano";
  src: url("/fonts/nano.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: "nano", sans-serif;
  background-color: #1d1d1d;
}
.revealer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 9999;
  color: #fff;
  font-family: "Sansation", sans-serif;
}
.fullPage {
  overflow: hidden;
}
.loading-content {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 1em;
  text-align: center;
  overflow: hidden;
}

.loading-content p {
  margin: 0;
}


img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section {
  position: relative;
  width: 100vw;
  height: 100svh;
  overflow: hidden;

}

.gradient-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.home {
  width: 100%;
  height: 100svh;
  overflow: hidden;
  background-color: var(--bg);
}

.home .header {
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
} 


.home .header h1 {
  font-size:  20.5vw;
  text-align: center;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: #ebebeb;
  font-weight: 500;
  font-family: sans-serif;
  font-size: 0.9em;
}

h1{
  position: absolute;
  top: 1em;
  color: #ebebeb;
  font-size: 10em;
  font-weight: 300;
  left: 0.5em;
}


.letter {
  display: inline-block;
  opacity: 0;
  transform: translateY(70px);
  transition: opacity 0.7s ease, transform 0.7s ease;
}

.letter.visible {
  opacity: 1;
  transform: translateY(0);
}
.contact-info{
  position: absolute;
  top: 15em;
  left: 3.5em;
  font-family: sans-serif;
  font-weight: 500;
  color: #ebebeb;
}
.nav {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  padding: 12px 24px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  border-radius: 13px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.nav-logo a,
.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.nav-links {
  display: flex;
  text-decoration: none;
  gap: 20px;
}


.project-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
}


.tooltip {
    font-family: "Sansation", sans-serif;
    position: fixed;
    background: black;
    color: white;
    padding: 4px 8px;
    font-size: 0.8em;
    pointer-events: none;
    white-space: nowrap;
    z-index: 9999;
    transform: translate(-15%, -150%);

}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  overflow: hidden;
}

.page-header {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column; /* Stack title and paragraph vertically */
  padding: 2rem;
  box-sizing: border-box;
}

.page-header h1 {
  position: relative;
  color: rgb(228, 228, 228);
  font-size: 6em;
  margin: 1em 0 1rem 0;
}

.about-text {
  position: relative;
  top: 10vh;
  left: 3vw;
  color: #ebebeb;
  margin: 1em 0 1rem 0;
  width: 35vw;
  max-width: 600px;
  font-weight: 550;
  font-family: sans-serif;
  font-size: 1em;
  line-height: 1.3em;
}


.transition-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100svh;
  display: flex;
  pointer-events: none;
  z-index: 2;
}

.block {
  flex: 1;
  height: 100%;
  background-color: #dadada;
  transform: scaleX(0);
  transform-origin: left;
}

.logo-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100svh;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
  pointer-events: none;
  opacity: 0;
}

.logo-container {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.contact-img {
  position: relative;
  border-radius: 10px;
  filter: grayscale();
  left: 50vw;
  display: block;
  width: 45%;
  height: auto;
}

.about-img {
  position: relative;
  top: 22vh;
  border-radius: 10px;
  filter: grayscale();
  display: block;
  width: 100%;
  height: auto;
}

